:root {
  --bg-page-color: #e5e5e5;
  --title-text-color-main: #000;
  --title-text-color-second: #263238;

  --text-color-listpages: #263238;
  --content-text-color: #8f95a5;

  --btn-bg-color: #263238;
  --btn-text-color: #fff;

  --price-content-text-color: #546269;

  --content-background-color: #f5f5f5;
  /* FONT */
  --first-font-weight: 400;
  --second-font-weight: 500;
  --thirs-font-weight: 600;
}

.block {
  margin-left: auto;
  margin-right: auto;
  max-width: 1338px;
}

body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: var(--first-font-weight);
  font-size: 16px;
  /* margin-left: auto;
    margin-right: auto;
    max-width: 1200; */
}

/* header */
.page-header {
  padding-top: 57px;
  padding-bottom: 57px;
}

.navigation-bar {
  display: flex;
  align-items: center;
}

.navigation-bar-logo {
  padding-right: 253px;
  font-size: 36px;
  line-height: 1.5;
}

.navigation-bar-list {
  flex: 1;
  display: flex;
  font-weight: var(--second-font-weight);
  font-size: 20px;
  line-height: 1.5;
  color: var(--text-color-listpages);
}

.navigation-bar-item {
  padding-right: 40px;
}

.navigation-bar-item.space {
  padding-left: 50px;
}

.navigation-bar-item:last-child {
  padding-right: 0;
}

.btn-lettalk {
  border: 2px solid var(--btn-bg-color);
  border-radius: 5px;
  width: 220px;
  height: 70px;
}

/* getstarted-section */

.getstarted-section {
  display: flex;
  align-items: center;
}

.getstarted-section-title {
  display: none;
}

.getstarted-wrapper {
  align-content: center;
}

.getstarted-title {
  font-weight: var(--thirs-font-weight);
  font-size: 64px;
  line-height: 1.25;
}

.getstarted-content {
  padding-top: 40px;
  padding-bottom: 61px;
  font-size: 24px;
  line-height: 1, 5;
  color: var(--content-text-color);
}

.btn-getstarted {
  width: 438px;
  height: 118px;

  background: var(--btn-bg-color);
  border-radius: 15px;
  border: none;

  font-size: 36px;
  line-height: 1.5;
  color: var(--btn-text-color);
}

/* Skills section -----------------*/

.skills-section {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  color: var(--content-text-color);
}

.skills-section .skills-section-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 2.67;
  color: var(--title-text-color-second);
}

.skills-section-content {
  padding-bottom: 36px;
  padding-top: 4px;
}

.skills-section-btn {
  width: 230px;
  height: 60px;
  background: var(--btn-bg-color);
  border-radius: 5px;
  border: none;
  font-weight: var(--second-font-weight);
  font-size: 18px;
  line-height: 1.5;
  color: var(--btn-text-color);
}

.skills-back {
  background-color: var(--content-background-color);
  border-radius: 10px;
  margin-left: 18px;
  padding-left: 43px;
  padding-right: 45px;
}

.speaking-section {
  min-width: 347px;
  max-width: 347px;
  align-self: center;
  padding-bottom: 92px;
  padding-top: 35px;
  margin-left: 0;
}

.speaking-section > .skills-section-content:first-of-type {
  padding-bottom: 18px;
}

.right-column-wrapper {
  min-width: 885px;
  max-width: 885px;
}

.writing-section,
.reading-section {
  /* width: 50%; */
}

.write-read-wrapper {
  display: flex;
}

.listening-section {
  display: flex;
  margin-top: 18px;
  padding-left: 48px;
}
